<?xml version="1.0" ?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://webinos.org/HH" version="1.0">
  <name>Webinos health hub</name>
  <description>Health hub application</description>
  <content src="index.html" />
  <icon src="icon.png" />
  <author>Ziran Sun, Stefano Vercelli</author>
</widget>

